:root, ::backdrop {
  /* Default (light) theme */
  --bg: #fffcfc;
  --accent-bg:  #fff7f5 /* #f5f7ff */; 
  --text: #101010 /* #212121 */;
  --text-light: #585858;
  --border:  #A48E89 /* #898EA4 */;
  --accent:  #660000 /* #0d47a1 */;
  --accent-hover: #e26612 /* #1266e2 */;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root, ::backdrop {
    /* Dark theme */
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #3b0000 /* #2b2b2b */;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }
}

body {
  grid-template-columns: 1fr min(50rem, 90%) 1fr;
}

h1 {
  font-size: 2.5rem;
}
article h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.15rem;
  }
}

 /* avoid list items being too close together */
li {
  padding-bottom: 0.3rem;
}  

/* centre images and iframes in articles */ 
main img, main iframe {
    display: block;
    margin: 0.5rem auto 0.5rem auto;
}

p.mapcaption {
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
}

body > header {
    padding-bottom: 0.5rem; /* less padding than the original  */
}

body > footer {
    padding: 1rem 0rem 1rem 0rem; /* less padding than the original  */
    margin-top: 0rem;
    font-size: 1rem;
    border: none
}

body > footer p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

body > footer p img {
    vertical-align: middle;
    margin-right: 0.5rem;
}

body > main {
    padding-top: 0.5rem;
}

/* site name in header (not set up as a heading so needs style) */
p.headername
{
    overflow-wrap: break-word;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    margin: 0 auto;
    padding: 0;
}

header > nav {
    line-height: 1.5;
}

header > nav a {
    margin: 0 0.3rem 0.5rem 0.3rem;
    padding: 0.1rem 0.5rem;
}

/* remove padding and side borders from articles on mobile */
@media only screen and (max-width: 720px) {
    article {
      border-left: none;
      border-right: none;
      padding: 0;
    }

    header > nav {
      padding: 0;
    }
}

/* post date */
p.postdate {
    font-style: italic;
    text-align: center;
}

div.blogentry p.postdate, article p.postdate {
    text-align: left;
    padding: 0;
    margin: 0;
}

/* style each entry in blog list */
div.blogentry
{
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

div.blogentry h3, div.blogentry p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

/* Table of contents */
#markdown-toc {
  background-color: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
  padding-left: 2rem;
} 

/* Adding headline to the TOC */
#markdown-toc::before {
    content: "On this page";
    font-weight: bold;
}

summary {
  overflow-wrap: normal;
  word-break: normal;
}

figcaption {
  font-size: 1rem;
  color: var(--text-light);
  margin: auto;
  max-width: 640px;
}