<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/simple.min.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <title>Page not found</title> 
</head>

<body>
  <header>
    <p class="headername">{{ site_title }}</p>
    <nav>
      <!-- <a href="/" aria-current="page">Home</a> -->
      <a href="/">Home</a> 
      <a href="/blog/">Blog</a>
      <a href="/links/">Links</a>
      <a href="/about/">About</a>
    </nav>
    <nav>
      <a href="/stations-in-the-south/">Stations in the South</a>
      <a href="/walks/">Walks</a>
      <a href="/maps/">Maps</a>
    </nav>
  </header>

  <main>
      <p>This page does not exist or has been moved. Please visit the <a href="/">Home</a> page to see the rest of the content on this site.</p>
  </main>

  